<div class="my-3">

    <hr class="bg-danger border-2 border-top border-danger">

    <div class="row">
        <h2 class="col-md-12 text-center">Live Coding Restart</h2>
    </div>
@*    <div class="row justify-content-center">
        <img class="neumorphism" src="/images/envato-happy-wedding-anniversary-lettering-on-the-wooden.jpg" alt="Happy Wedding Anniversary" style="width:auto;max-width: 300px;" />
    </div>
*@    <div class="row">
        <p class="col-md-12 text-center">Returning from our anniversary trip we found that COVID kicked in causing some delay in restarting our live coding sessions.</p>
        <p class="col-md-12 text-center">As a result of this, new start date will be October 19 after refreshing all software on the live coding VM</p>
        <h2 class="col-md-12 text-center">Live Streaming will restart October 18, 2022</h2>
    </div>

    <hr class="bg-danger border-2 border-top border-danger">
</div>
