<div class="my-3">
    <div class="row">
        <h2 class="col-md-12 text-center">To celebrate our 25th wedding anniversary</h2>
    </div>
    <div class="row justify-content-center">
        <img class="neumorphism" src="/images/envato-happy-wedding-anniversary-lettering-on-the-wooden.jpg" alt="Happy Wedding Anniversary" style="width:auto;max-width: 300px;" />
    </div>
    <div class="row">
        <h2 class="col-md-12 text-center">Live Streaming will restart October 11, 2022</h2>
    </div>
</div>
