<div class="card neumorphism my-5">
    <div class="card-header text-center">
        <h1 class="card-title text-center">📣</h1>
        <h3 class="card-title text-center">Live Coding Restart</h3>
    </div>
    @*<img class="card-img-top" src="/images/envato-happy-wedding-anniversary-lettering-on-the-wooden.jpg" alt="Happy Wedding Anniversary" style="width:auto;max-width: 300px;">*@
    <div class="card-body">
        <p class="card-text text-center">Returning from our anniversary trip we found that COVID kicked in causing some delay in restarting our live coding sessions.</p>
        <p class="card-text text-center">As a result of this, new start date will be <b>October 20</b> after refreshing all software on the live coding VM</p>
    </div>

    <div class="card-footer text-center">
        <h4>Live Streaming will restart October 20, 2022</h4>
    </div>
</div>

