<AuthorizeView>
	<Authorized>
		<li class="nav-item">
			<NavLink class="nav-link text-dark" href="admin">
				<span class="oi oi-shield" aria-hidden="true"></span>Admin
			</NavLink>
		</li>
		<li class="nav-item">
			<NavLink class="nav-link text-dark" href="LogOut">
				<span class="oi oi-lock-unlocked" aria-hidden="true"></span>Logout, @context.User.Identity.Name
			</NavLink>
		</li>
	</Authorized>
	<NotAuthorized>
		<li class="nav-item">
			<NavLink class="nav-link text-dark" href="register">
				<span class="oi oi-lock-locked" aria-hidden="true"></span>Register
			</NavLink>
		</li>
		<li class="nav-item">
			<NavLink class="nav-link text-dark" href="login">
				<span class="oi oi-lock-locked" aria-hidden="true"></span>Login
			</NavLink>
		</li>
		<li class="nav-item">
			<NavLink class="nav-link text-dark" href="initdb">
				<span class="oi oi-lock-locked" aria-hidden="true"></span>Init
			</NavLink>
		</li>
	</NotAuthorized>
</AuthorizeView>

