@inherits LayoutComponentBase

<div class="main">
	@*<header class="header header-sticky">*@
	<header class="d-flex align-items-center justify-content-center">
		<img src="./images/logotext.png" />
	</header>

	<NavMenu />

	<div class="content">
		<div class="container">
			@Body
		</div>
	</div>

	<footer class="d-flex align-items-center justify-content-center">
		@TrademarkMessage
	</footer>
</div>

@code {
	public string TrademarkMessage { get; set; } = "©" + @DateTime.Now.Year + " Soft as in Software. All rights reserved.";
}
