@page "/about"

@using softasinsoftware.Web.Components

<h1 class="col-md-12 text-center">Who is behind "Soft As In Software"</h1>
<p class="col-md-12 text-center">Wouldn't you like to know who is behind "Soft As In Software"?</p>
<p class="col-md-12 text-center">This is your chance to discover that here 👇🏻!</p>

<div class="row justify-content-center">
    <a href="https://www.softasinsoftware.com" target="_blank">
        <div class="row justify-content-center">
            <img class="rounded-circle neumorphism" src="https://avatars0.githubusercontent.com/u/5305682?v=3&amp;s=460" alt="Maarten van Stam" height="140" width="140">
        </div>
        <div class="row justify-content-center">
            <h3>Maarten van Stam</h3>
        </div>
    </a>
</div>

<div class="row justify-content-center">
    <SocialButtonTwitterComponent Title="Soft As In Software" AccountId="softaisoftware" />
    <SocialButtonYouTubeComponent Title="Soft As In Software" AccountId="softasinsoftware" />
    <SocialButtonTwitchComponent Title="Maarten van Stam" AccountId="softasinsoftware" />
</div>

<div class="row justify-content-center my-3">
    <div class ="neumorphism">
        <a href="https://www.credly.com/badges/e6bd9230-fb84-4505-90d8-a28fb01281f7/public_url" target="_blank">
            <img src="images\azure-fundamentals-600x600.png" width="125" />
        </a>
    </div>
    <div class="neumorphism">
        <a href="https://learn.microsoft.com/api/credentials/share/en-us/aafvstam/3B02E992378A54AA?sharingId=DT-MVP-33535" target="_blank">
            <img src="images\azure-developer-associate-600x600.png" width="125" />
        </a>
    </div>
</div>