@page "/about"

@using softasinsoftware.Web.Components

<div class="row justify-content-center">
	<h2>Who is behind "Soft As In Software"</h2>
</div>

<div class="row justify-content-center">
	<a href="https://www.softasinsoftware.com" target="_blank">
		<div class="row justify-content-center">
			<img class="rounded-circle neumorphism" src="https://avatars0.githubusercontent.com/u/5305682?v=3&amp;s=460" alt="Maarten van Stam" height="140" width="140">
		</div>
		<div class="row justify-content-center">
			<h3>Maarten van Stam</h3>
		</div>
	</a>
</div>

<div class="row justify-content-center">
	<SocialButtonTwitterComponent Title="Maarten van Stam" AccountId="aafvstam" />
	<SocialButtonYouTubeComponent Title="Soft As In Software" AccountId="softasinsoftware" />
	<SocialButtonTwitchComponent Title="Maarten van Stam" AccountId="softasinsoftware" />
</div>