@page "/admin"

<h2>Admin Page</h2>

<AuthorizeView>
    <Authorized>
        <h1>Hello, @context.User.Identity.Name!</h1>
        <p>You can only see this content if you're authenticated.</p>
    </Authorized>
    <Authorizing>
        <h1>Authentication in progress</h1>
        <p>You can only see this content while authentication is in progress.</p>
    </Authorizing>
    <NotAuthorized>
       <p>You can only see this content if you're NOT authenticated.</p>
    </NotAuthorized>
</AuthorizeView>
