@page "/blog"

<h1>Blog</h1>

<p>This page will contain a link to my Blog Site</p>

<p>Click on the link below to open my Blog Pages</p>

<p><a href="https://blog.softasinsoftware.com" target="_blank">My Blog Pages</a></p>
