@page "/contact"

<h1>Contact</h1>

<p>This page will show you your contact options on how to get in contact</p>

<p>For now easiest and fastest way to contact is to ping me on 𝕏 (Twitter 𝕏)</p>

<p><a href="https://twitter.com/softaisoftware" target="_blank">My 𝕏 (Twitter 𝕏) Pages</a></p>
