@page "/counter"

<h1>Counter</h1>

<p role="status">Current count: @CurrentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@*<div class="row">
	<div class="col-md-4">
		<h4>
			Example for calling a JS function returning void:
		</h4>
	</div>
	<div class="col-md-6">
		<button type="button" class="btn btn-info" @onclick="ShowAlertWindow">Show Alert Window</button>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<h4>
			Call JS <code>Write Some Text to the Word Document</code> Function
		</h4>
	</div>
	<div class="col-md-6">
		<button type="button" class="btn btn-info" @onclick="InsertParagraph">Hello World!</button>
	</div>
</div>
*@