@page "/counter"
@*@inject IJSRuntime JS*@

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@*<div class="text-danger text-sm-left">Call JS <code>Write Some Text to the Word Document</code> Function</div>

<button class="btn btn-primary" @onclick="InsertParagraph">Hello World!</button>
*@

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount+=2;
    }

    //private async Task InsertParagraph()
    //{
    //    await JS.InvokeVoidAsync("insertParagraph");
    //}
}
