@using softasinsoftware.Shared.Extensions.System
@using softasinsoftware.Shared.Models

<div class="card text-center neumorphism mt-3">
	<div class="card-header">
		<h5 class="card-title text-center">@GearItem.Name?.Truncate(25)</h5>
	</div>
	<div class="card-body">
		<img class="w-auto m-3" src="/images/@GearItem.Image" alt="@GearItem.Name" height="100">
		<p class="card-text text-small">@GearItem.Description?.Truncate(150)</p>
	</div>
	<div class="card-footer text-muted">
		<a href="@GearItem.URL" class="btn btn-primary" target="_blank">
			Info Amazon <span class="oi oi-external-link" aria-hidden="true"></span>
		</a>
	</div>
</div>
