@page "/gear"

<h1 class="col-md-12 text-center">Gear I Use</h1>
<p>This page will list all my used gear items to make this stream happen</p>

@if (GearList == null || GearList.Count() == 0)
{
	<p><em>Loading ... </em></p>
}
else
{
	<div class="row my-4">
		<div class="card-deck">
			@foreach (var item in GearList)
			{
				<GearCard GearItem=item />
			}
		</div>
	</div>
}
