@page "/schedule"

@using softasinsoftware.Web.Components


<h1 class="col-md-12 text-center">My Stream Schedule</h1>

<Announcement></Announcement>

<div class="row justify-content-center">
    <h3 class="col-md-12 text-center">In general I stream on Tuesdays and Thursdays around 8 or 9PM</h3>
    <h3 class="col-md-12 text-center"><a href="https://www.twitch.tv/softasinsoftware/schedule" target="_blank">Schedule on Twitch</a></h3>
</div>