@page "/schedule"

<h1>My Stream Schedule</h1>

<p>This page will show my planned Live Streams</p>
<p>In general I stream on Tuesdays and Thursdays around 8 or 9PM</p>
<p><a href="https://www.twitch.tv/softasinsoftware/schedule" target="_blank">Schedule on Twitch</a></p>